/* Base Application Styles */
html,body{
  background-color: #222;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
.content{
  with:100%;
  height:100%;
}
/*stage --- start*/
.stage{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0;
}
/*stage --- end*/


/*image --- start*/
.img-sec{
    position:relative;
    overflow:hidden;
    width:100%;
    height:560px;
    background-color:#ddd;
    margin:20px 0;
}
.img-figure{
    width:280px;
    height:320px;
    margin:0;
    padding:20px;
    box-sizing:border-box;
    background-color:#fff;
    position:absolute;
}
figcaption{
    text-align:center;
}
.img-title{
    color:#a7a0a2;
    font-size:16px;
    margin:0;
    padding:18px;
}
/*image --- end*/



/*controller --- start*/
.controller-nav{
    position:absolute;
    left:0;
    bottom:30px;
    z-index:101;
    width:100%;
    text-align:center;
}
/*controller --- end*/